# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/venv
/backend/App/__pycache__
/backend/App/migrations/__pycache__
/backend/Urbanstop/__pycache__


